/.deps/
/.libs/
/autom4te.cache/
/aclocal.m4
/configure
/configure~
/Makefile
/Makefile.in
/libtool
/config.log
/config.status
/stamp-h1
**/stamp-h1
**/.dirstamp
/jit++/config.h
/jit++/config.h.in~
/bin/compile
/bin/config.guess
/bin/config.sub
/bin/depcomp
/bin/install-sh
/bin/ltmain.sh
/bin/missing
/bin/test-driver
/test_interpreter
/test_roundtrip
/bench_interpreter
/test-suite.log
/test_interpreter.log
/test_interpreter.trs
/test_roundtrip.log
/test_roundtrip.trs
/build*/
*.o
*.lo
*.la
**/.deps/
**/.libs/
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
